<h2>Site settings</h2>

<%= error_messages_for :site %>

<% form_for(@site, :url => site_path) do |f| %>
  <p>
    <label for="site_title">
      Site title
      <span class="subtext"><br />The site title is shown at the top of every page.</span>
    </label><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <label for="message">
      Current site message
      <span class="subtext"><br />This message will be shown on every page, useful for downtime messages, etc.</span>
    </label><br />
    <%= f.text_field :message %>
  </p>

  <p>
    <label for="akismet_key">
      Akismet key
      <span class="subtext"><br />Your Akismet API key.</span>
    </label><br />
    <%= f.text_field :akismet_key %>
  </p>

  <p>
    <label for="akismet_url">Akismet URL</label><br />
    <%= f.text_field :akismet_url %>
  </p>

  <p>
    <%= f.check_box :require_approval %> <b>Require approval</b> <span class="subtext">Require approval for new users.</span>
  </p>

  <p>
    <%= f.check_box :require_login_to_post %> <b>Require login</b> <span class="subtext">Require login to post</span>
  </p>

  <p>
    <%= f.check_box :disable_teh %><b>Disable <abbr title="Textile Editor Helper">teh</abbr></b>
  </p>

  <p>
    <%= f.submit "Save Changes" %>
  </p>
<% end %>

<%= link_to "Expire all cached files", expire_cache_site_path %><br />
<%= link_to "Mark all pages private", mark_all_private_site_path %>
